
@{

}
<div>
    <h1>PUT YOUR COUNTRY</h1>
</div>
<form method="post">
  <p> 
        <label>Country Name</label><br />
        <input type="text" name="Name" />
    </p>
   <p> 
       <label>Population</label><br />
       <input type="number" name="Population" />
    </p>
  <p>
      <label>Capital</label><br />
      <input type="text" name="Capital" />
    </p>
   <p>
       <label>Area</label><br />
      <input  name="Area"/>
    </p> 
    <p>
        <label>Language</label><br />
        <input type="text" name="Language"/>
    </p>
    <input type="submit" value="Put"/>
</form>